<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/edit.css">

<div class="login-window">
<% if(user.id==profile_user.id || user.user_type== 'admin'){%>
    <form action="/users/update/<%= profile_user.id%>" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter your name" value="<%= profile_user.name%>" required>
        <input type="email" name="email" placeholder="Enter your email" value="<%= profile_user.email%>" required>
        <input type="file" name="avatar" placeholder="Profile Picture" />
        <input type="submit" value="Update">
    </form>
    <%} else{%>
        <p><img src="<%= profile_user.avatar%>" alt="<%=profile_user.name%>" width="200px" height="200px"></p>
        <p>User Name: <%= profile_user.name %>
        </p>
        <p>User Email ID: <%= profile_user.email %>
        </p>
        <%}%>
    </div>